<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script>
        var host = "{{.Host}}";
    </script>
</head>
<body>
<div class="container">
    <h1>Chat</h1>
    <hr/>
    <nav class="row">
        <ul class="navbar">
            <li class="nabar-item"><a href="/logout">logout</a></li>
        </ul>
    </nav>
    <div class='row'>
        <div class='form col-md-6'>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul id="messages"></ul>
                </div>
            </div>
            <form id="chatbox" action="" >
                <div class="form-group">
                    <label>Send message as {{.UserData.name}}</label>
                    <input class="form-control" type="text" id="input"/>
                </div>
                <input type="submit" value="Send"/>
            </form>
        </div>
    </div>
</div>
<style scoped="">
    input{display:block;}
    ul{list-style:none;}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/assets/js/chat.js"></script>
</body>
</html>