<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script>
        var host = "{{.Host}}";
    </script>
</head>
<body>
<div class="container">
   
    <form id="chatbox" action="">
        <div class="form-group">
            <img src="{{.UserData.avatar_url}}" style="width:4em;" />
            <label>{{.UserData.name}}</label>
        </div>
         <ul id="messages"></ul>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="Send"/>
    </form>
</div>
<style scoped="">
    input{display:block;}
    ul{list-style:none;}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/assets/js/chat.js"></script>
</body>
</html>